body{
  position: absolute;
  left: 17%;
  top: 0;
  right: 0;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 39px;
  /*display: flex;*/
  align-items: center;
  letter-spacing: -0.015em;
}
.buttons{
  height: 100%;
  display:flex;
  justify-content: right;
  align-items: baseline;
}
.container{
  background:#eff3f8;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}
.card{
  margin: 0 0 0 0;

  background: #ffffff;
  color: #495057;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 6px;
  padding: 0.5rem;

}
button{
  margin-right: 1%;
  margin-top: 1%;
}
p{
 font-size: 25px;
  margin: 0 0 0 0;
}
.field{
  padding: 0;
}
.checkBoxList{
  margin-top: 2%;
}
