  <body>
  <div class="container">
    <div class="card">
      <p-tabView orientation="left">
        <p-tabPanel header="Student" class="line-height-3 m-0">
          <div class="col-12">
            <div class="card">
              <p>Student information</p>
              <div class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-6">
                  <label >Complete name</label>
                  <input pInputText id="Student_Name" type="text" readonly/>
                </div>
                <div class="field col-12 md:col-2">
                  <label >Document Type</label>
                  <input pInputText id="Student_Document_Type" type="text" readonly/>
                </div>
                <div class="field col-12 md:col-4">
                  <label>Document number</label>
                  <input pInputText id="Student_Document_Number" type="text" readonly/>
                </div>
                <div class="field col-12 md:col-2">
                  <label >Gender</label>
                  <input pInputText id="Student_Gender" type="text" readonly/>
                </div>
                <div class="field col-12 md:col-2">
                  <label>Marital status</label>
                  <input pInputText id="Student_marital_status" type="text" readonly/>
                </div>
                <div class="field col-12 md:col-2">
                  <label>Birth Date</label>
                  <input pInputText id="Student_birth_date" type="text" readonly/>
                </div>
                <div class="field col-12 md:col-3">
                  <label>address</label>
                  <input pInputText id="Student_address" type="text" readonly/>
                </div>
                <div class="field col-12 md:col-3">
                  <label>Email</label>
                  <input pInputText id="Student_email" type="text" readonly/>
                </div>
                <div class="field col-12 md:col-3">
                  <label>ocupation</label>
                  <input pInputText id="Student_ocupation" type="text" readonly/>
                </div>
                <div class="field col-12 md:col-1">
                  <label>Rh</label>
                  <input pInputText id="Student_blood_type" type="text" readonly/>
                </div>
                <div class="field col-12 md:col-3">
                  <label>Vulnerable population</label>
                  <input pInputText id="Student_vulnerable_population" type="text" readonly/>
                </div>
                <div class="field col-12 md:col-2">
                  <label>Disability</label>
                  <input pInputText id="Student_Disability" type="text" readonly/>
                </div>
                <div class="field col-12 md:col-3">
                  <label>Insitution</label>
                  <input pInputText id="Student_Insitution" type="text" readonly/>
                </div>
                <div class="field col-12 md:col-3">
                  <label>EPS</label>
                  <input pInputText id="Student_EPS" type="text" readonly/>
                </div>
                <div class="field col-12 md:col-3">
                  <label>Academic Training</label>
                  <input pInputText id="Student_Academic_Training" type="text" readonly/>
                </div>
                <div class="field col-12 md:col-3">
                  <label>Born Place</label>
                  <input pInputText id="Student_Born_Place" type="text" readonly/>
                </div>
                <div class="field col-12 md:col-3">
                  <label>City</label>
                  <input pInputText id="Student_City" type="text" readonly/>
                </div>
              </div>
            </div>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Attendant" class="line-height-3 m-0" *ngIf="isYounger">
          <div class="col-12">
            <div class="card">
              <p>Attendant information</p>
              <div class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-12">
                  <label>Complete name</label>
                  <input pInputText id="Attendant_Name" type="text" readonly/>
                </div>
                <div class="field col-12 md:col-4">
                  <label>Address</label>
                  <input pInputText id="Attendant_Address" type="text" readonly/>
                </div>
                <div class="field col-12 md:col-4">
                  <label>Email</label>
                  <input pInputText id="Attendant_Email" type="text" readonly/>
                </div>
                <div class="field col-12 md:col-4">
                  <label>Phone Number</label>
                  <input pInputText id="Attendant_Phone_Number" type="text" readonly/>
                </div>
                <div class="field col-12 md:col-12">
                <p>Laboral Information</p>
                </div>
                <div class="field col-12 md:col-4">
                  <label>Company Name</label>
                  <input pInputText id="Attendant_Company_name" type="text" readonly/>
                </div>
                <div class="field col-12 md:col-4">
                  <label>Company Charge</label>
                  <input pInputText id="Attendant_Charge" type="text" readonly/>
                </div>
                <div class="field col-12 md:col-4">
                  <label>Company Place</label>
                  <input pInputText id="Attendant_Company_Place" type="text" readonly/>
                </div>
              </div>
            </div>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Certificates" class="line-height-3 m-0">
          <p>Documents required for certificate</p>
          <div *ngFor="let document of documents" class="checkBoxList field-checkbox">
            <p-checkbox name="group2" value="document" [value]="document"  [(ngModel)]="selectedCategories" [inputId]="document.key" [disabled]="document"></p-checkbox>
            <label>{{document.name}}</label>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Academic information" class="line-height-3 m-0">
          <p>Student academic information</p>
          <div class="p-fluid p-formgrid grid">
            <div class="field col-12 md:col-3">
              <label >Actual English level</label>
              <input pInputText id="englishLevel" type="text" readonly/>
            </div>
            <div class="field col-12 md:col-3">
              <label >Actual program</label>
              <input pInputText id="actualProgram" type="text" readonly/>
            </div>
            <div class="field col-12 md:col-2">
              <label >Last inscription date</label>
              <input pInputText id="lastInscriptionDate" type="text" readonly/>
            </div>
            <div class="field col-12 md:col-2">
              <label >Agreement</label>
              <input pInputText id="actualAgreement" type="text" readonly/>
            </div>
            <div class="field col-12 md:col-2">
              <label >Course status</label>
              <input pInputText id="courseStatus" type="text" readonly/>
            </div>
          </div>
          <mat-tab-group [selectedIndex]="selected.value"
                         (selectedIndexChange)="selected.setValue($event)" >
            <mat-tab *ngFor="let tab of tabs; let index = index" [label]="tab.examLevel">
              <br>
              <div class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-6">
                  <div class="p-fluid p-formgrid grid">
                    <div class="field col-12 md:col-12">
                      <label>Teacher name</label>
                      <input pInputText id="teacherName" type="text" value="{{tab.teacherName}}" readonly/>
                    </div>
                    <div class="field col-12 md:col-3">
                      <label>Listening result</label>
                      <input pInputText id="listeningResult" type="text" value="{{tab.listeningAnswered}}/{{tab.listeningTotal}}" readonly/>
                    </div>
                    <div class="field col-12 md:col-3">
                      <label>reading result</label>
                      <input pInputText id="readingResult" type="text" value="{{tab.readingAnswered}}/{{tab.readingTotal}}" readonly/>
                    </div>
                    <div class="field col-12 md:col-3">
                      <label>writing result</label>
                      <input pInputText id="writingResult" type="text" value="{{tab.writingAnswered}}/{{tab.writingTotal}}" readonly/>
                    </div>
                    <div class="field col-12 md:col-3">
                      <label>speaking result</label>
                      <input pInputText id="speakingResult" type="text" value="{{tab.speakingAnswered}}/{{tab.speakingTotal}}" readonly/>
                    </div>
                    <div class="field col-12 md:col-3">
                      <label>grammar result</label>
                      <input pInputText id="grammarResult" type="text" value="{{tab.grammarAnswered}}/{{tab.grammarTotal}}" readonly/>
                    </div>
                    <div class="field col-12 md:col-3">
                      <label>vocabulary result</label>
                      <input pInputText id="vocabularyResult" type="text" value="{{tab.vocabularyAnswered}}/{{tab.vocabularyTotal}}" readonly/>
                    </div>
                    <div class="field col-12 md:col-3">
                      <label>Result</label>
                      <input pInputText id="result" type="text" value="{{tab.resultAnswered}}/{{tab.resultTotal}}" readonly/>
                    </div>
                  </div>
                </div>
                <div class="field col-12 md:col-6">
                  <div class="p-fluid p-formgrid grid">
                    <div class="field col-12 md:col-6">
                      <label>Pass</label>
                      <input pInputText id="pass" type="text" value="{{tab.pass}}" readonly/>
                    </div>
                    <div class="field col-12 md:col-6">
                      <label>start Date</label>
                      <input pInputText id="startDate" type="text" value="{{tab.startDate}}" readonly/>
                    </div>
                    <div class="field col-12 md:col-6">
                      <label>final Date</label>
                      <input pInputText id="finalDate" type="text" value="{{tab.finishDate}}" readonly/>
                    </div>
                    <div class="field col-12 md:col-6">
                      <label>comments</label>
                      <textarea rows="3" cols="10" id="comments" pInputTextarea [disabled]="true" maxlength="200" value="{{tab.comments}}" readonly></textarea>
                    </div>
                 </div>
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </p-tabPanel>
        <div class="buttons">
          <button pButton pRipple label="ExamTry" (click)="createExamTryPanel()" ></button>
        </div>
        <p-tabPanel header="Statistic" class="line-height-3 m-0">
        </p-tabPanel>
      </p-tabView>
    </div>
  </div>
</body>
