<body>
 <div>
   <mat-stepper [linear]="isLinear" #stepper>
     <mat-step [stepControl]="firstFormGroup">
       <form [formGroup]="studentForm">
         <ng-template matStepLabel>Student Information</ng-template>
         <div class="card">
           <p>Personal information</p>
           <div class="p-fluid p-formgrid grid">
             <div class="field col-12 md:col-3">
               <input placeholder="First name*" type="text" pInputText class="p-inputtext-me" formControlName="firstName" maxlength="50">
             </div>
             <div class="field col-12 md:col-3">
               <input placeholder="Last name*" type="text" pInputText class="p-inputtext-me" formControlName="lastName" maxlength="50">
             </div>
             <div class="field col-12 md:col-3">
               <p-dropdown placeholder="Select Document type*" inputId="dropdown" [autoDisplayFirst]="false" [options]="data.documentTypesList" optionLabel="name" optionValue="value" formControlName="documentType"></p-dropdown>
             </div>
             <div class="field col-12 md:col-3">
                 <p-inputNumber placeholder="Identification document*" mode="decimal" inputId="withoutgrouping" [useGrouping]="false" formControlName="documentNumber" [maxlength]="11">
               </p-inputNumber>
             </div>
             <div class="field col-12 md:col-3">
               <p-dropdown placeholder="Select Blood Type*" inputId="dropdown" [autoDisplayFirst]="false" [options]="data.bloodTypeList" optionLabel="name" optionValue="value" formControlName="bloodType"></p-dropdown>
             </div>
             <div class="field col-12 md:col-3 myCalendar">
               <p-calendar appendTo="body" placeholder="Date birth*" [showIcon]="true" inputId="icon" [minDate]="minDateValue" [maxDate]="maxDateValue" [defaultDate]="DefaultDate" formControlName="birthDay"></p-calendar>
             </div>
             <div class="field col-12 md:col-3">
               <p-dropdown placeholder="Student type*" [options]="data.studentTypeList" optionLabel="name" optionValue="idStudentType" [showClear]="true" formControlName="idStudentType"></p-dropdown>
             </div>
             <div class="field col-12 md:col-3">
               <p-dropdown placeholder="Select gender*" [options]="data.gendersList" optionLabel="name" optionValue="name" [showClear]="true" formControlName="gender"></p-dropdown>
             </div>
             <div class="field col-12 md:col-3">
               <p-dropdown placeholder="Vulnerable Population" [options]="data.vulnerablePopulationList" optionLabel="name" optionValue="value" [showClear]="true" formControlName="vulnerablePopulation"></p-dropdown>
             </div>
             <div class="field col-12 md:col-3">
               <p-dropdown  placeholder="Residence country*" [options]="countryList" optionLabel="placeName" [showClear]="false"></p-dropdown>
             </div>
             <div class="field col-12 md:col-3">
               <p-dropdown  placeholder="Residence region*" [options]="regionList"  optionLabel="placeName" [showClear]="false"></p-dropdown>
             </div>
             <div class="field col-12 md:col-3">
               <p-dropdown  placeholder="Residence city*" [options]="cityList" [showClear]="false" optionLabel="placeName" optionValue="idPlace" formControlName="idCity"></p-dropdown>
             </div>
             <div class="field col-12 md:col-3">
               <p-dropdown placeholder="Disability" [options]="data.disabilityList" optionLabel="disabilityType" optionValue="idDisability" [showClear]="true" formControlName="idDisability"></p-dropdown>
             </div>
             <div class="field col-12 md:col-3">
               <p-dropdown placeholder="Marital status*" [options]="data.maritalStatusList" optionLabel="name" optionValue="name" [showClear]="true" formControlName="maritalStatus"></p-dropdown>
             </div>
             <div class="field col-12 md:col-3">
               <p-dropdown  placeholder="Born country*" [options]="countryList" optionLabel="placeName" [showClear]="false"></p-dropdown>
             </div>
             <div class="field col-12 md:col-3">
               <p-dropdown  placeholder="Born region*" [options]="regionList"  optionLabel="placeName" [showClear]="false"></p-dropdown>
             </div>
             <div class="field col-12 md:col-3">
               <p-dropdown  placeholder="Born city*" [options]="cityList" optionLabel="placeName" optionValue="idPlace" [showClear]="false" formControlName="idBornPlace"></p-dropdown>
             </div>
           </div>
         </div>
         <div class="card">
           <p>Informacion de contacto</p>
           <div class="topmargin p-fluid p-formgrid grid">
             <div class="field col-12 md:col-8">
               <p-chips separator="," placeholder="Cellphone* Ej:3123456789,3234567890" formControlName="phoneNumbers"></p-chips>
             </div>
             <div class="field col-12 md:col-4">
               <input  placeholder="Email*" type="text" pInputText class="p-inputtext-me" maxlength="50" formControlName="email" >
             </div>
          </div>
         </div>
         <div class="topmargin p-fluid p-formgrid grid">
           <div class="card field col-12 md:col-6">
             <p>Academic information</p>
             <div class="p-fluid p-formgrid grid">
               <div class="field col-12 md:col-6">
                 <input placeholder="Current institution*" type="text" pInputText class="p-inputtext-me" maxlength="50" formControlName="institution">
               </div>
               <div class="field col-12 md:col-6">
                 <input placeholder="Academic Traning Level*" type="text" pInputText class="p-inputtext-me" maxlength="50" formControlName="academicTraining">
               </div>
             </div>
           </div>
           <div class="card field col-12 md:col-6">
             <p>Laboral information</p>
             <div class="p-fluid p-formgrid grid">
               <div class="field col-12 md:col-6">
                 <input placeholder="Ocupation*" type="text" pInputText class="p-inputtext-me" maxlength="50" >
               </div>
               <div class="field col-12 md:col-6">
                 <input placeholder="EPS*" type="text" pInputText class="p-inputtext-me" maxlength="50" formControlName="eps">
               </div>
             </div>
           </div>
         </div>
         <div class="card">
           <p>Residencial information</p>
           <div class="p-fluid p-formgrid grid">
             <div class="field col-12 md:col-3">
               <input  placeholder="Current address*" type="text" pInputText class="p-inputtext-me" maxlength="50" formControlName="address">
             </div>
             <div class="field col-12 md:col-3">
               <input  placeholder="Resident neighborhood*" type="text" pInputText class="p-inputtext-me" maxlength="50" formControlName="neighborhood">
             </div>
             <div class="field col-12 md:col-3">
               <input placeholder="Resident in last five years*" type="text" pInputText class="p-inputtext-me" maxlength="50" formControlName="residentPlaceLastFiveYears">
             </div>
             <div class="field col-12 md:col-3">
               <p-dropdown placeholder="Socioeconomic stratum*" [options]="data.socioeconomicStateList" optionLabel="name" optionValue="value"  [showClear]="true" formControlName="socioeconomicStratum"></p-dropdown>
             </div>
           </div>
         </div>
         <div class="flex justify-content-end flex-wrap">
           <button type="buttonNext" pButton pRipple icon="pi pi-chevron-right" class="p-button-help" matStepperNext></button>
         </div>
       </form>
     </mat-step>
     <mat-step [stepControl]="secondFormGroup" label="Attendants">
       <form [formGroup]="secondFormGroup" >
         <p>Attendant information</p>
         <div class="p-fluid p-formgrid grid" formGroupName="studentAttendantInfo">
           <div class="field col-12 md:col-4">
             <input placeholder="First name*" type="text" pInputText class="p-inputtext-me" maxlength="50" formControlName="firstName">
           </div>
           <div class="field col-12 md:col-4">
             <input placeholder="Last name*" type="text" pInputText class="p-inputtext-me" maxlength="50" formControlName="lastName">
           </div>
           <div class="field col-12 md:col-4">
             <input placeholder="Company where works*" type="text" pInputText class="p-inputtext-me" maxlength="50" formControlName="companyName">
           </div>
           <div class="field col-12 md:col-4">
             <input placeholder="Curret company address*" type="text" pInputText class="p-inputtext-me" maxlength="50" formControlName="companyAddress">
           </div>
           <div class="field col-12 md:col-4">
             <input placeholder="Curret company neighborhood*" type="text" pInputText class="p-inputtext-me" maxlength="50" formControlName="companyNeighborhood">
           </div>
           <div class="field col-12 md:col-4">
             <input placeholder="Ocupation*" type="text" pInputText class="p-inputtext-me" maxlength="50" formControlName="charge">
           </div>
           <div class="field col-12 md:col-4">
             <p-dropdown  placeholder="company country*" [options]="countryList" optionLabel="placeName" [showClear]="true"></p-dropdown>
           </div>
           <div class="field col-12 md:col-4">
             <p-dropdown  placeholder="company region*" [options]="regionList" optionLabel="placeName" [showClear]="true"></p-dropdown>
           </div>
           <div class="field col-12 md:col-4">
             <p-dropdown  placeholder="company city*" [options]="cityList" optionLabel="placeName" optionValue="idPlace" [showClear]="true" formControlName="idCity"></p-dropdown>
           </div>
           <div class="field col-12 md:col-6">
             <p-chips separator="," placeholder="Cellphone* Ej:3123456789,3234567890" formControlName="phoneNumbers"></p-chips>
           </div>
           <div class="field col-12 md:col-6">
             <p-chips separator="," placeholder="LandLane* Ej:3123456789,3234567890" formControlName="fixedPhoneNumbers"></p-chips>
           </div>
         </div>
         <div class="margintop p-fluid p-formgrid grid">
           <div class="card field col-12 md:col-6">
             <p>Father information</p>
             <div class="p-fluid p-formgrid grid" formGroupName="studentFatherInfo">
               <div class="field col-12 md:col-6">
                 <input placeholder="First name*" type="text" pInputText class="p-inputtext-me" maxlength="50" formControlName="firstName">
               </div>
               <div class="field col-12 md:col-6">
                 <input placeholder="Last name*" type="text" pInputText class="p-inputtext-me" maxlength="50" formControlName="lastName">
               </div>
               <div class="field col-12 md:col-6">
                 <input placeholder="Email*" type="text" pInputText class="p-inputtext-me" maxlength="50" formControlName="email">
               </div>
               <div class="field col-12 md:col-6">
                 <input placeholder="Resident address*" type="text" pInputText class="p-inputtext-me" maxlength="50" formControlName="address">
               </div>
               <div class="field col-12 md:col-6">
                 <input placeholder="Resident neighborhood*" type="text" pInputText class="p-inputtext-me" maxlength="50" formControlName="neighborhood">
               </div>
               <div class="field col-12 md:col-6">
                 <p-dropdown  placeholder="resident country*" [options]="countryList" optionLabel="placeName" [showClear]="true"></p-dropdown>
               </div>
               <div class="field col-12 md:col-6">
                 <p-dropdown  placeholder="resident region*" [options]="regionList" optionLabel="placeName" [showClear]="true"></p-dropdown>
               </div>
               <div class="field col-12 md:col-6">
                 <p-dropdown  placeholder="resident city*" [options]="cityList" optionLabel="placeName" optionValue="idPlace" [showClear]="true" formControlName="idCity"></p-dropdown>
               </div>
               <div class="field col-12">
                 <p-chips separator="," placeholder="Cellphone* Ej:3123456789,3234567890" formControlName="phoneNumbers"></p-chips>
               </div>
             </div>
           </div>
           <div class="card field col-12 md:col-6">
             <p>Mother information</p>
             <div class="p-fluid p-formgrid grid" formGroupName="studentMotherInfo">
               <div class="field col-12 md:col-6">
                 <input placeholder="First name*" type="text" pInputText class="p-inputtext-me" maxlength="50" formControlName="firstName">
               </div>
               <div class="field col-12 md:col-6">
                 <input placeholder="Last name*" type="text" pInputText class="p-inputtext-me" maxlength="50" formControlName="lastName">
               </div>
               <div class="field col-12 md:col-6">
                 <input placeholder="Email*" type="text" pInputText class="p-inputtext-me" maxlength="50" formControlName="email">
               </div>
               <div class="field col-12 md:col-6">
                 <input placeholder="Resident address*" type="text" pInputText class="p-inputtext-me" maxlength="50" formControlName="address">
               </div>
               <div class="field col-12 md:col-6">
                 <input placeholder="Resident neighborhood*" type="text" pInputText class="p-inputtext-me" maxlength="50" formControlName="neighborhood">
               </div>
               <div class="field col-12 md:col-6">
                 <p-dropdown  placeholder="resident country*" [options]="countryList" optionLabel="placeName" [showClear]="true"></p-dropdown>
               </div>
               <div class="field col-12 md:col-6">
                 <p-dropdown  placeholder="resident region*" [options]="regionList" optionLabel="placeName" [showClear]="true"></p-dropdown>
               </div>
               <div class="field col-12 md:col-6">
                 <p-dropdown  placeholder="resident city*" [options]="cityList" optionLabel="placeName" optionValue="idPlace" [showClear]="true" formControlName="idCity"></p-dropdown>
               </div>
               <div class="field col-12">
                 <p-chips separator="," placeholder="Cellphone* Ej:3123456789,3234567890" formControlName="phoneNumbers"></p-chips>
               </div>
             </div>
           </div>
         </div>
         <div class="flex justify-content-end flex-wrap">
           <button type="buttonPrevius" pButton pRipple icon="pi pi-chevron-left" class="p-button-help" matStepperPrevious></button>
           <button type="buttonNext" pButton pRipple icon="pi pi-chevron-right" class="p-button-help" matStepperNext></button>
         </div>
       </form>
     </mat-step>
     <mat-step [stepControl]="thirdFormGroup">
       <form [formGroup]="thirdFormGroup">
         <ng-template matStepLabel>Institutional information</ng-template>
         <div class="card">
           <p>Institutional information</p>
           <div class="p-fluid p-formgrid grid">
               <div class="field col-12 md:col-3">
                 <p-dropdown placeholder="Agreement" [options]="data.agreementList" optionLabel="name" optionValue="idAgreement" [showClear]="true" formControlName="idAgreement"></p-dropdown>
               </div>
             <div class="field col-12 md:col-3">
               <p-dropdown  placeholder="Program to inscribe*" [options]="data.programList" optionLabel="name" optionValue="idProgram" [showClear]="true" formControlName="idProgram"></p-dropdown>
             </div>
             <div class="field col-12 md:col-3">
               <p-dropdown placeholder="English level*" [options]="data.levelList" optionLabel="name" optionValue="idLevel" [showClear]="true" formControlName="idLevel"></p-dropdown>
             </div>
             <div class="field col-12 md:col-3">
               <p-calendar appendTo="body" placeholder="Inscription date*" [showIcon]="true" inputId="icon" [minDate]="minInscriptionDateValue" [maxDate]="maxDateValue" [defaultDate]="DefaultDate" formControlName="date"></p-calendar>
             </div>
             <div class="field col-12 md:col-3">
               <input placeholder="Study Schedule" type="text" pInputText maxlength="50" class="p-inputtext-me">
             </div>
           </div>
         </div>
       </form>
       <div class="flex justify-content-end flex-wrap">
         <button type="button" pButton pRipple icon="pi pi-chevron-left" class="buttonPrevius p-button-help" matStepperPrevious></button>
         <button type="button" pButton pRipple icon="pi pi-chevron-right" class="buttonNext p-button-help" matStepperNext></button>
       </div>
     </mat-step>
     <mat-step>
       <form>
         <div class="card">
           <ng-template matStepLabel>Documents</ng-template>
           <p-fileUpload name="demo[]" (onUpload)="onUpload($event)"
                         [multiple]="true" accept="image/*,.pdf, .docx" >
             <ng-template pTemplate="content">
               <ul *ngIf="uploadedFiles.length">
                 <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
               </ul>
             </ng-template>
           </p-fileUpload>
           <div class="flex justify-content-end flex-wrap">
            <button type="button" pButton pRipple label="Register student" class="p-button-help" (click)="registerStudent()"></button>
            <button type="button" pButton pRipple icon="pi pi-file-import" class="p-button-help" label=" Upload exam try" (click)="updateExamTry()"></button>
           </div>
         </div>
         <div class="flex justify-content-end flex-wrap align-items-stretch ">
           <button type="buttonPrevius" pButton pRipple icon="pi pi-chevron-left" class=" align-self-end p-button-help" matStepperPrevious></button>
         </div>
       </form>
     </mat-step>
   </mat-stepper>
 </div>
</body>
