<body>
 <div>
   <mat-stepper [linear]="isLinear" #stepper>
     <mat-step [stepControl]="firstFormGroup">
       <form [formGroup]="firstFormGroup">
         <ng-template matStepLabel>Student Information</ng-template>
         <div class="card">
           <div class="p-fluid p-formgrid grid">
             <div class="field col-12 md:col-3">
               <input type="text" pInputText class="p-inputtext-me  " placeholder="First name">
             </div>
             <div class="field col-12 md:col-3">
               <input type="text" pInputText class="p-inputtext-me" placeholder="Last name">
             </div>
             <div class="field col-12 md:col-3">
               <p-calendar [showIcon]="true" inputId="icon" placeholder="Date birth" [minDate]="minDateValue"></p-calendar>
             </div>
             <div class="field col-12 md:col-3">
               <p-inputNumber [(ngModel)]="identification" mode="decimal" inputId="withoutgrouping" placeholder="identification document" [useGrouping]="false">
               </p-inputNumber>
             </div>
             <div class="field col-12 md:col-3">
               <p-dropdown inputId="dropdown" placeholder="Select Document type" [autoDisplayFirst]="false" [options]="documentTypesList" optionLabel="name"></p-dropdown>
             </div>
             <div class="field col-12 md:col-3">
               <p-dropdown inputId="dropdown" placeholder="Select Blood Type" [autoDisplayFirst]="false" [options]="bloodTypeList" optionLabel="name"></p-dropdown>
             </div>
             <div class="field col-12 md:col-3">
               <p-inputNumber [(ngModel)]="identification" mode="decimal" inputId="withoutgrouping" placeholder="identification document" [useGrouping]="false">
               </p-inputNumber>
             </div>
             <div class="field col-12 md:col-3">
               <p-inputNumber [(ngModel)]="celphoneNumber" mode="decimal" inputId="withoutgrouping" placeholder="cellphone Number" [useGrouping]="false">
               </p-inputNumber>
             </div>
             <div class="field col-12 md:col-3">
               <p-dropdown [options]="gendersList" placeholder="Select gender" [showClear]="true"></p-dropdown>
             </div>
             <div class="field col-12 md:col-3">
               <input type="text" pInputText class="p-inputtext-me" placeholder="Current address">
             </div>
             <div class="field col-12 md:col-3">
               <input type="text" pInputText class="p-inputtext-me" placeholder="Current institution">
             </div>
             <div class="field col-12 md:col-3">
               <p-dropdown [options]="cityList" placeholder="City" [showClear]="true"></p-dropdown>
             </div>
             <div class="field col-12 md:col-3">
               <input type="text" pInputText class="p-inputtext-me" placeholder="Email">
             </div>
             <div class="field col-12 md:col-3">
               <p-dropdown [options]="vulnerablePopulationList" placeholder="Vulnerable Population" [showClear]="true"></p-dropdown>
             </div>
             <div class="field col-12 md:col-3">
               <input type="text" pInputText class="p-inputtext-me" placeholder="Resident in last five years">
             </div>
             <div class="field col-12 md:col-3">
               <input type="text" pInputText class="p-inputtext-me" placeholder="Ocupation">
             </div>
             <div class="field col-12 md:col-3">
               <p-dropdown [options]="socioEconomicStateList" placeholder="Socioeconomic state" [showClear]="true"></p-dropdown>
             </div>
             <div class="field col-12 md:col-1">
               <input type="text" pInputText class="p-inputtext-me" placeholder="EPS">
             </div>
             <div class="field col-12 md:col-3">
               <input type="text" pInputText class="p-inputtext-me" placeholder="Academic Traning Level">
             </div>
             <div class="field col-12 md:col-3">
               <p-dropdown [options]="discapacityList" placeholder="Discapacity" [showClear]="true"></p-dropdown>
             </div>
           </div>
         </div>
         <div class="flex flex-row-reverse">
           <button type="buttonNext" pButton pRipple icon="pi pi-chevron-right" class="p-button-help" matStepperNext></button>
         </div>
       </form>
     </mat-step>
     <mat-step [stepControl]="secondFormGroup" label="Attendants">
       <form [formGroup]="secondFormGroup">
         <p>Attendant information</p>
         <div class="p-fluid p-formgrid grid">
           <div class="field col-12 md:col-4">
             <input type="text" pInputText class="p-inputtext-me" placeholder="Attendant name">
           </div>
           <div class="field col-12 md:col-4">
             <input type="text" pInputText class="p-inputtext-me" placeholder="Company where works">
           </div>
           <div class="field col-12 md:col-4">
             <input type="text" pInputText class="p-inputtext-me" placeholder="Curret company address">
           </div>
           <div class="field col-12 md:col-4">
             <p-inputNumber mode="decimal" inputId="withoutgrouping" placeholder="cellphone Number" [useGrouping]="false">
             </p-inputNumber>
           </div>
           <div class="field col-12 md:col-4">
             <input type="text" pInputText class="p-inputtext-me" placeholder="Ocupation">
           </div>
           <div class="field col-12 md:col-4">
             <p-dropdown [options]="cityList" placeholder="City" [showClear]="true"></p-dropdown>
           </div>
         </div>
         <div class="p-fluid p-formgrid grid">
           <div class="card field col-12 md:col-6">
             <p>Father information</p>
             <div class="p-fluid p-formgrid grid">
               <div class="field col-12 md:col-5">
                 <input type="text" pInputText class="p-inputtext-me" placeholder="Name">
               </div>
               <div class="field col-12 md:col-4">
                 <input type="text" pInputText class="p-inputtext-me" placeholder="Resident address">
               </div>
               <div class="field col-12 md:col-3">
                 <input type="text" pInputText class="p-inputtext-me" placeholder="Email">
               </div>
               <div class="field col-12 md:col-4">
                 <p-inputNumber mode="decimal" inputId="withoutgrouping" placeholder="cellphone Number" [useGrouping]="false">
                 </p-inputNumber>
               </div>
               <div class="field col-12 md:col-3">
                 <p-dropdown [options]="cityList" placeholder="City" [showClear]="true"></p-dropdown>
               </div>
             </div>
           </div>
           <div class="card field col-12 md:col-6">
             <p>Mother information</p>
             <div class="p-fluid p-formgrid grid">
               <div class="field col-12 md:col-5">
                 <input type="text" pInputText class="p-inputtext-me" placeholder="Name">
               </div>
               <div class="field col-12 md:col-4">
                 <input type="text" pInputText class="p-inputtext-me" placeholder="Resident address">
               </div>
               <div class="field col-12 md:col-3">
                 <input type="text" pInputText class="p-inputtext-me" placeholder="Email">
               </div>
               <div class="field col-12 md:col-4">
                 <p-inputNumber mode="decimal" inputId="withoutgrouping" placeholder="cellphone Number" [useGrouping]="false">
                 </p-inputNumber>
               </div>
               <div class="field col-12 md:col-3">
                 <p-dropdown [options]="cityList" placeholder="City" [showClear]="true"></p-dropdown>
               </div>
             </div>
           </div>
         </div>
         <div class="flex flex-row-reverse">
           <button type="buttonNext" pButton pRipple icon="pi pi-chevron-right" class="p-button-help" matStepperNext></button>
           <button type="buttonPrevius" pButton pRipple icon="pi pi-chevron-left" class="p-button-help" matStepperPrevious></button>
         </div>
       </form>
     </mat-step>
     <mat-step [stepControl]="thirdFormGroup">
       <form [formGroup]="thirdFormGroup">
         <ng-template matStepLabel>Academic information</ng-template>
         <div class="card">
           <p>Academic information</p>
           <div class="p-fluid p-formgrid grid">
               <div class="field col-12 md:col-3">
                 <p-dropdown [options]="agreementList" placeholder="Agreement" [showClear]="true"></p-dropdown>
               </div>
             <div class="field col-12 md:col-3">
               <p-dropdown [options]="programList" placeholder="Program to inscribe" [showClear]="true"></p-dropdown>
             </div>
             <div class="field col-12 md:col-3">
               <p-dropdown [options]="levelList" placeholder="English level" [showClear]="true"></p-dropdown>
             </div>
             <div class="field col-12 md:col-3">
               <p-calendar [showIcon]="true" inputId="icon" placeholder="Incription date" [minDate]="minDateValue"></p-calendar>
             </div>
           </div>
         </div>
         <div class="flex flex-row-reverse">
           <button type="buttonNext" pButton pRipple icon="pi pi-chevron-right" class="p-button-help" matStepperNext></button>
           <button type="buttonPrevius" pButton pRipple label="Summit " class="p-button-help" matStepperPrevious></button>
           <button type="buttonUploadDocument" pButton pRipple icon="pi pi-upload" class="p-button-help" (click)="updateDocumentPanel()"></button>
         </div>

       </form>
     </mat-step>
   </mat-stepper>
 </div>
</body>
