<div class="container">

  <div class="tittle">
    <p>Upload File</p>
  </div>
  <form class="fields" [formGroup]="filesForm" (ngSubmit)="create()">
    <div class="uploadFile">
      <mat-form-field appearance="fill" class="nameUpdatedFile">
        <input matInput placeholder="Name file" readonly="readonly">
      </mat-form-field>

      <input class="nameUpdatedFile" name="pdf" type="file" accept="application/pdf " />

    </div>
    <div class="fields">

      <mat-form-field appearance="fill" class="nameField">
        <mat-label>Enter name File</mat-label>
        <input matInput placeholder="Name file" required>
      </mat-form-field>

      <mat-form-field appearance="fill" class="listOptions" [(ngModel)]="this.filesForm">
        <mat-label>type of file</mat-label>
        <mat-select  required>
          <mat-option *ngFor='let item of typesDocuments' [value]='item.name'>
            {{item.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
  <div class="buttons">
    <button class="buttonCancel" mat-raised-button  (click)="delete()">Cancel</button>
    <button class="buttonSend" mat-raised-button color="warn">Update</button>
  </div>

</div>
