<body>
<h4 class="title">Account registration form</h4>
<form action="">

  <div class="labels">
    <label>Name:</label>
    <label>Mail:</label>
    <label>User type:</label>
    <label>Person type:</label>
    <label>N. Document:</label>
    <label>Document type:</label>
    <label>Password:</label>
    <label>Confirm password:</label>

  </div>
  <div class="inputs">
    <input class="text" type="text" id="name" required>
    <br>
    <input class="text" type="email" id="email" required pattern=".+@blightybliss.edu.co" >
    <br>

    <div class="userType">
      <input type="radio" name="grupo1">
      <label> Admin </label>
      <input type="radio" name="grupo1">
      <label> User </label>
    </div>
    <br>

    <div class="userType">
      <input type="radio" name="grupo3">
      <label> Student </label>
      <input type="radio" name="grupo3">
      <label> Teacher </label>
      <input type="radio" name="grupo3">
      <label> Administrator </label>
      <input type="radio" name="grupo3">
      <label> User </label>
    </div>
    <br>
    <input class="text" type="text" name="text" value=""
           onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;">
    <br>
    <input type="radio" name="grupo2"> CC
    <input type="radio" name="grupo2"> TI
    <input type="radio" name="grupo2"> CE
    <input type="radio" name="grupo2"> OTHER
    <br>
    <input class="text" type="text" name="text">
    <br>
    <input class="text" type="text" name="text">
    <br>

  </div>
  <div class="button">
    <input type="button" value="Confirmar">
  </div>

</form>
</body>
