.container{
  background:#eff3f8;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  min-width: 400px;
  min-height: 300px;
}
.tittle{
  font-size: 25px;
  font-weight: bold;
}
p{
  margin-left: 2%;
}
.fields{
  display:flex;
  flex-direction: column;
  justify-content: center;
}
.mat-form-field{
  margin: 3% 3% 0 3%;
  min-width: 260px;
}
.nameUpdatedFile{
  min-width: 260px;
}
.uploadFile {
  margin-top: 1%;
}
.buttons{
  height: 100%;
  display:flex;
  justify-content: right;
  align-items: center;
}
.buttonCancel{
  margin-right: 2%;
}
.buttonSend{
  margin-right: 2%;
}
