<div class="container">
  <div class="tittle">
    <p>Create File</p>
  </div>
  <form class="fields" [formGroup]="folderForm" (ngSubmit)="create()">

    <mat-form-field appearance="fill" class="nameField">
      <mat-label>Enter folder name</mat-label>
      <input matInput placeholder="E-21" required formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="fill" class="ubicationField">
      <mat-label>Enter folder alphabet</mat-label>
      <input matInput placeholder="A-B-C-D" required formControlName="alphabet">
    </mat-form-field>

    <mat-form-field appearance="fill" class="ubicationField">
      <mat-label>Enter folder year</mat-label>
      <input matInput placeholder="2019-20-21-22" required formControlName="years">
    </mat-form-field>
    <div class="buttons">
        <button class="buttonCancel" mat-raised-button (click)="close()">Cancel</button>
      <button class="buttonSend" mat-raised-button
              type="submit" [disabled]="folderForm.invalid" color="warn">Create</button>
    </div>
  </form>
</div>

