<div class="container">
  <div class="tittle">
    <p>Create File</p>
  </div>
  <div class="fields">

    <mat-form-field appearance="fill" class="nameField">
      <mat-label>Enter name folder</mat-label>
      <input matInput placeholder="Name file" required>
    </mat-form-field>

    <mat-form-field appearance="fill" class="ubicationField">
      <mat-label>Enter ubication folder</mat-label>
      <input matInput placeholder="Name file" required>
    </mat-form-field>
  </div>
  <div class="buttons">
    <button class="buttonCancel" mat-raised-button  (click)="delete()">Cancel</button>
    <button class="buttonSend" mat-raised-button color="warn">Create</button>
  </div>
</div>

