body{
  position: absolute;
  left: 300px;
  top: 0;
  right: 0;

  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  /*display: flex;*/
  align-items: center;
  letter-spacing: -0.015em;
  margin-bottom: 16px;
}
.container{
  flex-direction: column;
  height: 100%;
  margin: 0 0 0 224px;
  text-align:center;
}
.fileTypeList{
  margin:0 auto 0 auto;
  display: table;
  align-content: center;

}
p{
  font-size: 25px;
  margin-left: 1%;
}
.buttons{
  margin-top: 1%;
}
button{
  margin: 1% 1% 1% 1%;
}
ng-container{
}
mat-form-field{
  height: 70px;
}
