.container{
  background: #75b7ff;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}
.middle{
  box-shadow: 0 0 1px black;
}
.tittle{
  box-shadow: 0 0 1px black;
  font-size: 25px;
}
.emailText{
  font-size: 20px;
  margin-left: 2%;
}
.emailField{
  margin-left: 2%;
}
.buttons{
  height: 100%;
  box-shadow: 0 0 1px black;
  text-align: right;
  display:flex;
  justify-content: right;
  align-items: center;
}
.buttonCancel{
  margin-right: 2%;
}
.buttonSend{
  margin-right: 2%;

}

