<div class="container card" id="container">
  <div class="tittle">
    <p>Recover your account</p>
  </div>
  <div class="middle">
    <div class="emailText">
      <p>Enter your institutional email</p>
    </div>
    <div class="emailField">
        <input placeholder="institutional mail" type="text" pInputText class="p-inputtext-me">
    </div>
  </div>
  <div class="buttons">
    <button type="button" pButton pRipple label="Cancelar" class="p-button-help buttonCancel" (click)="delete()"></button>
    <button type="button" pButton pRipple label="Enviar" class="p-button-help buttonSend" (click)="recoverPassword()"></button>
  </div>
</div>

