.container{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}
.card{
  background: #ffffff;
  color: #495057;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 6px;
  padding: 0.5rem;
  min-height: 90%;
}
.middle{
}
.tittle{
  font-size: 25px;
}
.emailText{
  font-size: 20px;
  margin-left: 2%;
}
.emailField{
  margin-left: 2%;
}
.buttons{
  height: 100%;
  text-align: right;
  display:flex;
  justify-content: right;
  align-items: center;
}
.buttonCancel{
  margin-right: 2%;
}
.buttonSend{
  margin-right: 2%;
}
button{
  margin-right: 1%;
  margin-top:1%;
}

