<div class="container" id="container">
  <div class="tittle">
    <p>Recover your account</p>
  </div>
  <div class="middle">
    <div class="emailText">
      <p>Enter your institutional email</p>
    </div>
    <div class="emailField">
      <mat-form-field appearance="fill">
        <mat-label>Institucional Mail</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
  </div>
  <div class="buttons">
    <button class="buttonCancel" mat-raised-button  (click)="delete()">Cancelar</button>
    <button class="buttonSend" mat-raised-button color="warn">Enviar</button>
  </div>
</div>

