.title {
  font-size: 30px;
  margin: 5% auto auto;
  width: 40%;
}
body {
  background:#eff3f8;
  position: absolute;
  left: 16% ;
  top: 0;
  right: 0;

  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 39px;
  /*display: flex;*/
  align-items: center;
  letter-spacing: -0.015em;
  margin-bottom: 16px;
}
form {
  padding: 5%;
}
.card{
  margin: 0 0 0 0;

  background: #ffffff;
  color: #495057;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 6px;
  padding: 0.5rem;
  min-height: 90%;
}
.container{
  margin: 1% 1% 1% 1%;
}
label{
  margin-left: 1%;
  font-size: 15px;
}
myLimiterHeigt{
  height: 100px;
}
