.body{
  display: flex;
  height: 100%;
  align-items: center;
  background-image: url('../../../assets/LogoMarketplace.png');
  background-color: #f0f0f0;
  background-size: 100%;
  background-position-y: -400px;
  backface-visibility: hidden;
}

a{
  font-family: Arial, sans-serif;
  font-size: 25px;
  margin-left: 20%;
  color: white;
}
a:hover{
  color: black;
}


.h1{
  font-family: "Arial Narrow", sans-serif;
  font-size: 30px;
}
.login{
  font-family: "Arial Narrow", sans-serif;
  font-size: 15px;
  margin: 0 auto;
  position: absolute ;
  top: 20%;
  left: 68%;
  width: 550px;
  height: 560px;
  align-items: center;
  background-color: #A12626;
  border-style: solid;
  border-color: white;
  border-width: 6px;
}

.login h1, img, button{
  text-align: center;
  display: block;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
}

.spinner{
  margin: 0 auto;
}

.ancho{
  width: 80%;
  display: block;
  margin-left: auto;

  margin-right: auto;

}

.ancho hover{
  color: white;

}

.boton{
  height: 50px;
  border-style: solid;
  border-color: black;
  background-color: #970E0E;
  border-radius: 4px;
  border-width: 2px;
  color: black;
}

img{
  width:50%;
}
ButtonLogin{
  background: white;
}
p{
  margin-top: 10%;
}
.Information{
  background-color: #1988FF;
  margin-left: 10%;
  border-style: solid;
  border-color: white;
  border-width: 6px;
}
img.Escudo{
  float: left;
  margin-left: 1%;
  margin-top: 1%;
  height: 200px;
  width: auto;
  overflow: auto;
}
.Institucion{
  color: white;
  margin-top: 10%;
  display: flex;
  align-items: center;
  text-align: center;
  overflow: auto;
}
.Eslogan{
  color: white;
  overflow: auto;
  text-align: center;
  margin-top: 12%;
}
.field {
  background-color: white;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  margin-top: 5%;
}
