.body{
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-image: url('../../../assets/FondoLoginOpacity.png');
  background-color: thistle;
  background-size: 100%;
}
a{
  font-family: Arial, sans-serif;
  font-size: 25px;
  margin-left: 10%;
  color: white;
}
a:hover{
  color: black;
}


.h1{
  font-family: "Arial Narrow", sans-serif;
  font-size: 30px;
}
.login{
  font-family: "Arial Narrow", sans-serif;
  font-size: 15px;
  margin: 0 auto;
  position: absolute ;
  width: 30%;
  height: 55%;
  align-items: center;
  background-color: #A12626;
  min-width: 350px;
  min-height: 500px;
  box-shadow: 2px 2px 4px 1px;
  border-radius: 15px;
}

.login h1, img, button{
  text-align: center;
  display: block;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
}

.spinner{
  margin: 0 auto;
}

.ancho{
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ancho hover{
  color: white;

}

.boton{
  height: 50px;
  border-style: solid;
  border-color: black;
  background-color: #970E0E;
  border-radius: 15px;
  border-width: 1px;
  color: black;
}

img{
  opacity: 0.5;
}
ButtonLogin{
  background: white;
}
p{
  margin-top: 10%;
}
.field {
  background-color: white;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  margin-top: 5%;
}
