<div class="body" >
  <div class="login">
    <mat-spinner *ngIf="loading" class="spinner" diameter="50"></mat-spinner>

    <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="login()">

      <h1>Login</h1>
      <mat-form-field class="ancho field" appearance="fill">
          <mat-label>Institucional mail</mat-label>
          <input matInput autocomplete="off" formControlName="usuario">
      </mat-form-field>
      <mat-form-field class="ancho field" appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput autocomplete="off" type="password" formControlName="password">
      </mat-form-field>
        <button class="ancho boton" type="submit" [disabled]="form.invalid">Ingresar </button>
    </form>
    <p> <a (click)="create()">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;¿Forgot password?</a></p>
  </div>

  <div class="Information">
    <img alt="Escudo de la institucion" class="Escudo"  src="../../../assets/escudo.png">
    <h1 class="Institucion"> Blighty Bliss Admin of students and files</h1>
    <h2 Class="Eslogan">"Beyond teaching a language, we teach its culture"</h2>
  </div>
</div>

