body{
  position: absolute;
  left: 300px;
  top: 0;
  right: 0;

  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 39px;
  /*display: flex;*/
  align-items: center;
  letter-spacing: -0.015em;
  margin-bottom: 16px;
}
.container{
  flex-direction: column;
  height: 100%;
  margin: 0 0 0 224px;
  text-align:center;
}
table {
  width: 95%;
  height: 60%;
  min-width: 500px;
  min-height: 600px;
  margin: 1% 1% 1% 1%;
}
mat-paginator{
  margin: 1% 4% 1% 1%;
}
