<body>
  <div class="Container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- name -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- direction -->
      <ng-container matColumnDef="direction">
        <th mat-header-cell *matHeaderCellDef> Direction </th>
        <td mat-cell *matCellDef="let element" (click)="seeDocument()" > {{element.direction}}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
    <div class="buttons">
      <button class="buttonCreateFolder p-button-help"  icon="pi pi-upload" pButton pRipple label="Upload File" (click)="updateDocumentPanel()" ></button>
    </div>
    <a (click)="asingPendingFile()">Ejemplooooo archivo pendiente</a>
  </div>
</body>
