<body>
<div class="card px-6 py-6">
  <p-table #dt [value]="pendingFileList" [columns]="columnsSchema" responsiveLayout="scroll" [rows]="5"
           [globalFilterFields]="['name','country.name','representative.name','status']" [paginator]="true"
           [rowsPerPageOptions]="[5,10,15]" [showCurrentPageReport]="true"
           currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" dataKey="Name">
    <ng-template pTemplate="caption">
      <h3 class="m-0">Manage Pending Files</h3>
      <div id="TableHeader" class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
        <button *ngIf="isAdmin" pButton pRipple label="New Pending File" icon="pi pi-plus" class="p-button-success mr-2"
                (click)="createUploadPendingFile()"></button>
        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."
                                   class="w-full sm:w-auto"/>
                        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th *ngFor="let col of columnsSchema" pSortableColumn="{{col.field}}">{{col.header}}
          <p-sortIcon field="{{col.field}}"></p-sortIcon>
        </th>
        <th>Options</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-pendingFile>
      <tr>
        <td style="width:2rem">
          <i class="pi pi-file-pdf" style="font-size: 2rem"></i>
        </td>
        <td style="width:20%; min-width:10rem;   white-space: nowrap;overflow: hidden;">
          <span class="p-column-title">Name</span>
          {{pendingFile.name}}
        </td>
        <td style="width:20%; min-width:8rem;">
          <span class="p-column-title">Alphabet</span>
          {{pendingFile.fileTypeName}}
        </td>

        <td style="width:20%; min-width:8rem;">
          <span class="p-column-title">Link</span>
          <mat-label [textContent]="pendingFile.link"></mat-label>
        </td>

        <th>
          <div class="flex" *ngIf="isAdmin">
            <button pButton pRipple icon="pi pi-folder" class="p-button-rounded p-button-success mr-2"
                    (click)="createAsignationPanel()"></button>
            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                    (click)="createUploadPendingFile()"></button>
          </div>
        </th>
      </tr>
    </ng-template>
  </p-table>
</div>
</body>
