<body>
  <div class="card">
    <div class="p-fluid p-formgrid grid">
      <div class="imgDiv field col-12 md:col-4 ">
        <img alt="profile image" src="../../../assets/profile_image.png">
      </div>
      <div class="field col-12 md:col-8">
        <div class="p-fluid p-formgrid grid">
          <div class="field col-12 md:col-5">
            <label>Email</label>
          </div>
          <div class="field col-12 md:col-5">
            <input type="text" id="mail" pInputText class="p-inputtext-me " readonly="readonly">
          </div>
          <div class="field col-12 md:col-5">
            <label>Identification</label>
          </div>
          <div class="field col-12 md:col-5">
            <input type="text" id="identification" pInputText class="p-inputtext-me" readonly="readonly">
          </div>
          <div class="field col-12 md:col-5">
            <label>Complete name</label>
          </div>
          <div class="field col-12 md:col-5">
            <input type="text" id="complete_name" pInputText class="p-inputtext-me" readonly="readonly">
          </div>
          <div class="field col-12 md:col-5">
            <label>State</label>
          </div>
          <div class="field col-12 md:col-5">
            <input type="text" id="state" pInputText class="p-inputtext-me" readonly="readonly">
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
