<body>
  <div class="card">
    <p>Agreement manage</p>
    <form [formGroup]="agreementForm" >
      <div formArrayName="agreements">
        <div *ngFor="let item of getAgreements.controls; let items of getCompanyName.controls ; let pointIndex=index" [formGroupName]="pointIndex" >
          <div class="p-inputgroup ">
            <button *ngIf="isAdmin" type="button" pButton pRipple icon="pi pi-trash" class="p-button-help" (click)="removeAgreements(pointIndex)" (click)="removeCompanyName(pointIndex)"></button>
            <input type="text" pInputText placeholder="Company name" maxlength="60">
            <input type="text" pInputText placeholder="Agreement Name" maxlength="60">
          </div>
        </div>
      </div>
    </form>
    <div class="buttons flex justify-content-end flex-wrap">
      <button *ngIf="isAdmin" pButton pRipple icon="pi pi-plus" class="p-button-help"  (click)="addAgreements()" (click)="addCompanyName()"></button>
      <button *ngIf="isAdmin" pButton pRipple label="Submit" icon="pi pi-upload" class="p-button-help"  (click)="summitChangesAgreements()"></button>
    </div>
  </div>
</body>
