<div class="card">
  <p>Pending file asignation</p>
  <div class="p-fluid p-formgrid grid">
    <div class="field col-12 md:col-8">
      <input placeholder="First name" type="text" pInputText class="p-inputtext-me  ">
    </div>
    <div class="field col-12 md:col-8">
      <input placeholder="First name" type="text" pInputText class="p-inputtext-me  ">
    </div>
  </div>
  <button type="button" pButton pRipple icon="pi pi-upload" class="p-button-help" label=" Update asignation" (click)="updateFileAsignation()"></button>
</div>
